@{
    ViewData["Title"] = "Remove Cliente";
}

<h1>APAGAR CLIENTE</h1>
<p class="meuteste">Deseja realmente apagar este cliente?</p>
<p role="button" onclick="testando()">Clique aqui</p>

<a asp-controller="Cliente" asp-action="Apagar" role="button" class="btn btn-outline-danger">APAGAR</a>
<a asp-controller="Cliente" asp-action="Index" role="button" class="btn btn-outline-primary">CANCELAR</a>