@*

*@
@{
    ViewData["Title"] = "Lista de Clientes";
}

<div class="text-center">
	<h1>Lista de Clientes</h1>
    <div>
        <a role="button" class="btn btn-outline-warning">Inserir</a>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Telefone</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>markzadaaa@gmail.com</td>
                <td>(11)934075506</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-outline-primary">Atualizar</a>
                        <a role="button" class="btn btn-outline-danger">Apagar</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>João</td>
                <td>jaozinho@gmail.com</td>
                <td>(11)934075506</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-outline-primary">Atualizar</a>
                        <a role="button" class="btn btn-outline-danger">Apagar</a>
                    </div>
                </td>
            </tr>
           <tr>
                <th scope="row">3</th>
                <td>Pedro</td>
                <td>pedrodugrau@gmail.com</td>
                <td>(11)934075506</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-outline-primary">Atualizar</a>
                        <a role="button" class="btn btn-outline-danger">Apagar</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>